In [1]:
#dependencies
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [21]:
#read in train csv
titanic_df = pd.read_csv("predict_df.csv")
conditions = [titanic_df['Prediction'] == titanic_df['Actual'], titanic_df['Prediction'] != titanic_df['Actual']]
choices = ['Correct', 'Incorrect']
titanic_df['Prediction'] = titanic_df['Prediction'].astype(str)
titanic_df['Actual'] = titanic_df['Actual'].astype(str)
titanic_df['Prediction'] = titanic_df['Prediction'].replace(['0','1'],['Perished','Survived'])
titanic_df['Actual'] = titanic_df['Actual'].replace(['0','1'],['Perished','Survived'])
titanic_df['Accuracy'] = np.select(conditions, choices)
#titanic_df.to_csv('tableau_formatted_prediction.csv', index = False)
titanic_df

,PassengerId,Name,Prediction,Actual,Accuracy
0,892,"Kelly, Mr. James",Perished,Perished,Correct
1,893,"Wilkes, Mrs. James (Ellen Needs)",Survived,Survived,Correct
2,894,"Myles, Mr. Thomas Francis",Perished,Perished,Correct
3,895,"Wirz, Mr. Albert",Perished,Perished,Correct
4,896,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",Survived,Survived,Correct
...,...,...,...,...,...
412,1305,"Spector, Mr. Woolf",Perished,Perished,Correct
413,1306,"Oliva y Ocana, Dona. Fermina",Survived,Survived,Correct
414,1307,"Saether, Mr. Simon Sivertsen",Perished,Perished,Correct
415,1308,"Ware, Mr. Frederick",Perished,Perished,Correct
416,1309,"Peter, Master. Michael J",Survived,Perished,Incorrect